@import url("https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Edu QLD Beginner", cursive;
  font-size: 21px;
  padding: 20px;
}
